@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
}

#page1 {
    height: inherit;
    animation: load 1s ease-in-out;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    flex-shrink: 3;
    margin-bottom: 3%;
    text-align: center;
    max-width: 10ch;
    font-family: 'Secular One', sans-serif;
    font-size: 120px;
    transition: 0.5s ease-in-out;
}

#page1 h1:hover {
    color: white;
    scale: 110%;
}

@keyframes load {
    0% {
        margin-right: 600px;
        opacity: 0;
    }

    50% {
        margin-right: 0px;
    }

    100% {
        opacity: 1;
    }
}

#page1 a {
    animation: slide 1s ease-in-out;
    opacity: 1;
    flex-grow: 1;
    font-family: 'Secular One', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

@keyframes slide {
    0% {
        margin-top: 20px;
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 700px) {
    #page1 h1 {
        font-size: 400%;
    }

    #page1 h5 {
        font-size: 15px;
    }

    section.portfolio {
        scale: 70%;
    }
}

@media only screen and (max-width: 400px) {
    .circle {
        height: 400px;
        width: 400px;
        background-color: red;
        border-radius: 50%;
        scale: 80%;
        right: 60%;
        opacity: 0;
    }

    .a {
        animation: x 5s linear infinite;
    }

    .b {
        bottom: 10%;
        right: 10%;
        animation-delay: 2s;
        background-color: Green;
        animation: b 10s linear infinite;
        animation-delay: 2s;

    }

    .c {
        opacity: 0;
        right: 20%;
        top: 55%;
        background-color: blue;
        animation: c 8s linear infinite;
        animation-delay: 4s;
    }

    .d {
        opacity: 0;
        background-color: blueviolet;
        right: 50%;
        animation: d 5s linear infinite;
        animation-delay: 4s;
    }

    #page1 h1 {
        font-size: 200%;
    }

    #page1 h5 {
        font-size: 15px;
    }
}

div {
    height: 100%;
    position: absolute;
}

button {
    padding: 15px 25px;
    background: none;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

button a {
    text-decoration: none;
    color: black;
}

button a::after {
    content: "";
    display: flex;
    height: 2px;
    width: 0%;
    background-color: black;
    transition: 0.5s;
}

button a:hover:after {
    width: 100%;
}

.mo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.circle {
    height: 700px;
    width: 700px;
    position: fixed;
    background-color: red;
    border-radius: 50%;
    scale: 80%;
    right: 60%;
    opacity: 0;
}

.a {
    animation: x 5s linear infinite;
}

.b {
    bottom: 10%;
    right: 10%;
    animation-delay: 2s;
    background-color: Green;
    animation: b 10s linear infinite;
    animation-delay: 2s;

}

.c {
    opacity: 0;
    right: 20%;
    top: 55%;
    background-color: blue;
    animation: c 10s linear infinite;
    animation-delay: 4s;
}

#page1 h1:hover>body {
    background-color: black;
}

@keyframes x {
    25% {
        opacity: 1;
    }

    100% {
        transform: translate(100%, 100%);
        opacity: 0;
    }
}

@keyframes b {
    25% {
        opacity: 1;
    }

    100% {
        transform: translate(100%, -200%);
        opacity: 0;
    }
}

@keyframes c {
    25% {
        opacity: 1;
    }

    100% {
        transform: translate(100%, -300%);
        opacity: 0;
    }
}

section.portfolio {
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.226);
    min-width: 600px;
    max-width: 70%;
    border-radius: 30px;
    padding: 30px;
}

section.portfolio h1,
h4 {
    text-align: center;
    color: aliceblue;
    font-size: 90px;
    font-family: 'Secular One', sans-serif;
}

h4 {
    margin-top: 20px;
    font-size: large;
    animation: scroll 4s ease-in-out infinite;
    animation-delay: 20s;
}

@keyframes scroll {
    25% {
        margin-top: 40px;
    }

    50% {
        margin-top: 0px;
    }

    75% {
        margin-top: 60px;
    }
}